<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= thisday %></h1>

    <!-- to embedd js code: <% js code %> -->
    <!-- to display var name in html: <%= var_name_from_app.js %> -->

    <!-- <% if(thisday===6 || thisday===0){ %>
    <h1 style="color: slategrey">Today is <%= thisday %>!</h1>
    <% } else{ %>
    <h1 style="color: slateblue">Today is <%= thisday %>!</h1>
    <% } %> -->
  </body>
</html>
